@import url('https://fonts.googleapis.com/css2?family=Lobster&family=MonteCarlo&family=Playfair+Display&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Cormorant+Garamond&family=Cormorant+Upright&display=swap');

* {
  padding: 0;
  margin: 0;
}

#Head{
  width: 100%;
  height: 80PX;
  background: rgba(255,255,255, 0.5);
}

#par1{
  width: 100%;
  height: 800px;
  background-size: 100% 100%;
  background-attachment: fixed;
}

#BName{
  font-size: 35px;
  font-family: "Lobster";
  font-weight: bold;
  padding: 15px;
}

#BHome{
  font-family: "Cormorant Upright";
  font-size: 20px;
  height: 30px;
  width: 100px;
  font-weight: bold;
  background-color: #3c005a;
  text-align: center;
  padding: 4px;
  border-radius: 3px;
  margin-left: 800px;
  margin-top: -50px;
  border: solid black;
}

#BAbout{
  font-family: "Cormorant Upright";
  font-size: 20px;
  height: 30px;
  width: 100px;
  font-weight: bold;
  border: solid #3c005a;
  text-align: center;
  padding: 4px;
  border-radius: 3px;
  margin-left: 950px;
  margin-top: -42px;
}

#BContact{
  font-family: "Cormorant Upright";
  font-size: 20px;
  height: 30px;
  width: 100px;
  font-weight: bold;
  border: solid #3c005a;
  text-align: center;
  padding: 4px;
  border-radius: 3px;
  margin-left: 1100px;
  margin-top: -44px;
}

a:link{
  text-decoration: none;
}

.styled-table {
  font-family: "Playfair Display";
    font-weight: bold;
    border-collapse: collapse;
    color: #3c005a;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.styled-table thead tr {
    background-color: #3c005a;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: thin solid #3c005a;
}

tr:nth-child(even) {
  background-color: rgba(255,255,255, 0.5);
    color: black;
}

tr:nth-child(odd) {
    color: white;
}

.styled-table tbody tr:last-of-type {
    border-bottom: thin solid #3c005a;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
}

tr:hover{
    background-color: rgba(255,255,255, 0.3);
}

#table1{
  margin-left: 280px;
  margin-top: 130px;
}

#view1{
  color: #3c005a;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

#view1:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #80007F;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#view1:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
